body {
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1rem;
    background-color: white;
}

h1, h2 {
    color: #000;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.menu {
    border-bottom: 1px solid darkgrey;
}

ul {
    margin-bottom: 0;
    padding-inline-start: 0px;
}

.name {
    text-align: center;
    font-family: THE바닐라빈B;
    font-style: italic;
    font-size: 100px;
    color: #275793;
}

.text {
    padding: 5px;
    border: 3px #38677F;
    border-style: dotted;
    font-family: THE바닐라빈W;
    background-color: lightblue;
}

.img-fluid {
    width: 40%;
    height: auto;
}

.paint {
    background-color: lightblue;
    border: 3px #38677F;
    border-style: dotted;
    font-style: italic;
    text-align: right;
}

.caption {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .2em;
    font-size: 12px;
    padding: 7px 10px;
    color: #214258;
    display: inline-block;
}